<mat-card>
  <mat-card-header>
    <mat-card-title>{{ email.subject }}</mat-card-title>
    <mat-card-subtitle>{{ email.fromUser.email }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{ email.body }}
    </p>
  </mat-card-content>
</mat-card>
