.main {
  .sidenav-container {
    height: 100%;

    mat-icon {
      margin-right: 15px;
    }
  }

  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);

    .left-menu {
      padding-top: 0;
    }
  }
}
