<div fxFill fxLayout="column" class="main">
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    Email app
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" mode="side" opened="true" fxLayout="column">
      <mat-nav-list class="left-menu" fxFlex>
        <a mat-list-item routerLink="/app/emails/inbox">
          <mat-icon>inbox</mat-icon> Inbox
        </a>

        <a mat-list-item routerLink="/app/emails/sent">
          <mat-icon>send</mat-icon> Sent
        </a>

        <a mat-list-item routerLink="/app/emails/drafts">
          <mat-icon>drafts</mat-icon> Drafts
        </a>
      </mat-nav-list>

      <a mat-button fxLayoutAlign="center center" routerLink="/login" (click)="logOut()">
        <mat-icon>lock</mat-icon>
        <span>Log out</span>
      </a>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
