<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let email of emails; let even=even"
    [ngClass]="{'opened': even, 'unopened': !even}"
    routerLink="/app/emails/inbox" [queryParams]="{email: email.id}"
  >
    <mat-icon mat-list-icon class="email-icon">{{ even ? 'mail' : 'drafts'}}</mat-icon>

    <h4 mat-line [class.bold]="even">{{ email.fromUser.firstName }} {{ email.fromUser.lastName }}</h4>
    <p mat-line>{{ email.subject }}</p>
  </a>
</mat-nav-list>
