<div fxFill fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" fxLayout="column" (ngSubmit)="logIn()">
        <mat-form-field>
          <input type="text" formControlName="email" matInput placeholder="Email" autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>

        <button type="submit" mat-button [disabled]="loginForm.invalid || blockLogIn">
          Log in
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
