<div fxLayout="row">
  <app-emails
    [fxFlex]="(selectedEmail$ | async) ? '30%' : '100%'"
    [emails]="emails$ | async"
  ></app-emails>

  <app-email
    *ngIf="selectedEmail$ | async as selectedEmail"
    fxFlex="70%"
    [email]="selectedEmail"
  ></app-email>

  <button mat-fab class="send-new-email" color="accent" (click)="newEmail()">
    <mat-icon>add</mat-icon>
  </button>
</div>
